*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Cormorant SC', serif;
}







:root {
	--size: 220px;
}

.hold input[type="range"]{
	margin-bottom: 4em;
}



body{
	background-color: #555;
	background: no-repeat url('images/sky-mob.jpg');
	background-size: 100% 100%;
	position: relative;
}

.hamburger{
	position: absolute;
	height: 24px;
	width: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	left: 20px;
	top: 40px;

}

.hamburger hr{
	border: 2px black solid;
	border-radius: 8px;
}

.top-bun{
	transform: rotateZ(-30deg);
	transition: transform .8s;
}

.bottom-bun{
	transform: rotateZ(30deg);
	transition: transform .8s;
}

.menu{
	width: 15px;
	height: 15px;
	display: none;
	background-color: crimson;
	position: absolute;
	top: 50px;
	left: 50px;
	z-index: 5;

}

.expand{
	width: 150px;
	height: 150px;
	transition: width 2s ease-in, height 2s ease-in 2s;
}





nav{
	background-color: #222;
	height: 3em;
	line-height: 3em;

}
/*ul{
	display: flex;
	justify-content: space-around;
}*/

li a{
	color: lightgreen;
	text-decoration: none;
}

li{
	display: inline;

	font-size: 1em;

}
li:nth-of-type(1){
	color: white;
}
h1{
	padding: 1em 0 2em;
	text-align: center;
	/*background-color: red;*/
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;


}

main{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

/*button{
	display: none;
}*/

/* cursor: -moz-grabbing; */
    /* cursor: -webkit-grabbing; */
    /* cursor: grabbing; */
div.overlay{
	display: none;
	perspective: 1000px;
	position: absolute;
	min-height: 114.25vh;
	width: 100%;
	height: 100%;
	/*opacity: .5;*/
	background-color: transparent;
	z-index: 35;
	justify-content: center;
	align-items: center;

}
button{
	position: absolute;
	z-index: 444;
}
button.close{
	top: 0;
}

button.next{
	top: 20px;
}

button.prev{
	top: 50px;
}

.menu-hold{
	/*display: none;*/
	padding-top: 300px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	transform-style: preserve-3d;
	/*transform: rotateY(0deg) translateZ(280px);*/
}

@keyframes roundandround {
  to {
    transform: rotateX(360deg);
  }
}

.menu-hold ul{
	position: relative;
	width: 200px;
	height: 200px;
	/*margin: 17em auto 0;*/
	transform-style: preserve-3d;
	/*animation: roundandround 10s infinite linear;*/
}

.menu-hold ul li{
	position: absolute;
	color: black;
	text-align: center;
	font-size: 42px;
	padding-top: 40px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 10px dashed green;
	border-top-color: red;
	border-bottom-color: blue;
	background-color: wheat;
	/*border-radius: 50%;*/
	transform-origin: 50% 50%;
	transform: translateY(-200px);
	transition: transform .9s cubic-bezier(1,-0.06, 1, 1);

}

.menu-hold ul li:nth-of-type(1){
	transform: rotateX(5deg) translateY(-200px) translateZ(0px);
}
.menu-hold ul li:nth-of-type(2){
	font-size: 16px;
	padding-top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotateX(5deg) translateY(-200px) translateZ(0px);
}
.menu-hold ul li:nth-of-type(3){
	transform: rotateX(5deg) translateY(-200px) translateZ(0px);
}

.menu-hold div.flip-switch{
	position: relative;
	/*margin: auto;*/
	border-radius: 50%;
	background-color: black;
	width: 125px;
	height: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}



.menu-hold div.flip-switch label{
	position: absolute;
	top: -68px;
}


.menu-hold div.flip-switch label:last-of-type{
	top: 82px;

}

.menu-hold div.flip-switch input[name="menu-type"]:not(:checked){
	z-index: -1;

}

.menu-hold div.flip-switch input[name="menu-type"]:not(:checked):after{
	display: none;
}


.menu-hold div.flip-switch input[name="menu-type"]{
	position: absolute;
}

.menu-hold div.flip-switch input[name="menu-type"]:after{
	content: "";
	position: absolute;
	width: 20px;
	height: 60px;
	background-color: red;
	top: -53px;
}

.menu-hold div.flip-switch input[name="menu-type"]:last-of-type:after{
	top: 42px;

}



.cube-container {
	perspective: 1500px;
	margin-bottom: 5em;
	/*opacity: 0;*/
	/* width: 100%; */
	/* background-color:red; */
}






.photo-cube{
  /* cursor: -moz-grab; */
  /* cursor: -webkit-grab; */
  /* cursor: grab; */
  transition: transform 0.001s;
  width: var(--size);
  height: var(--size);
  /* margin: auto; */
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(0deg);
}






.front, .back, .left, .right, .top, .bottom{
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

.front{
 transform:translateZ(110px);
}

.left{
 transform:rotateY(270deg) translateX(-110px);
  transform-origin:bottom left;
}

.right{
 transform: rotateY(-270deg) translateX(110px);
  transform-origin:bottom right;
}

.back{
  transform:translateZ(-110px) rotateY(180deg);
}

.top{
	transform: translateZ(-110px) rotateX(90deg);
	transform-origin:top;
}

.bottom{
	transform: translateZ(-110px) rotateX(-90deg);
	transform-origin:bottom;
}

@media screen and (min-width: 460px){

	body{
		background-color: #555;
		background: no-repeat url('images/sky-mob2.jpg');
		background-size: 100% 100%;
	}

	h1{
		margin-bottom: 3em;
	}

	.photo-cube{
		width: 330px;
		height: 330px;
	}

	.cube-container:nth-of-type(1){
		margin-bottom: 9em;
	}

	.front{
		transform:translateZ(165px);
	}

	.left{
		transform:rotateY(270deg) translateX(-165px);
		/*transform-origin:bottom left;*/
	}

	.right{
		transform: rotateY(-270deg) translateX(165px);
		/*transform-origin:bottom right;*/
	}

	.back{
		transform:translateZ(-165px) rotateY(180deg);
	}

	.top{
		transform: translateZ(-165px) rotateX(90deg);
		/*transform-origin:top;*/
	}

	.bottom{
		transform: translateZ(-165px) rotateX(-90deg);
		/*transform-origin:bottom;*/
	}

}

@media screen and (min-width: 630px){


	.photo-cube{
		width: 440px;
		height: 440px;
	}
	.front{
		transform:translateZ(220px);
	}

	.left{
		transform:rotateY(270deg) translateX(-220px);
		/*transform-origin:bottom left;*/
	}

	.right{
		transform: rotateY(-270deg) translateX(220px);
		/*transform-origin:bottom right;*/
	}
	.back{
		transform:translateZ(-220px) rotateY(180deg);
	}

	.top{
		transform: translateZ(-220px) rotateX(90deg);
		/*transform-origin:top;*/
	}

	.bottom{
		transform: translateZ(-220px) rotateX(-90deg);
		/*transform-origin:bottom;*/
	}
}

@media screen and (min-width: 768px){

	body{
		background-color: #555;
		background: no-repeat url('images/sky-tab.jpg');
		background-size: cover;
	}


	main{
		flex-direction: row;
		margin-bottom: 10em;
	}

	.photo-cube{
		width: 300px;
		height: 300px;
	}

	.cube-container:nth-of-type(1){
		margin-bottom: 5em;
	}

	.front{
		transform:translateZ(150px);
	}

	.left{
		transform:rotateY(270deg) translateX(-150px);
		/*transform-origin:bottom left;*/
	}

	.right{
		transform: rotateY(-270deg) translateX(150px);
		/*transform-origin:bottom right;*/
	}
	.back{
		transform:translateZ(-150px) rotateY(180deg);
	}
	.top{
		transform: translateZ(-150px) rotateX(90deg);
		/*transform-origin:top;*/
	}

	.bottom{
		transform: translateZ(-150px) rotateX(-90deg);
		/*transform-origin:bottom;*/
	}

}

@media screen and (min-width: 850px){

	main{
		margin-bottom: 8em;
	}

	.photo-cube{
		width: 330px;
		height: 330px;
	}
	.front{
		transform:translateZ(165px);
	}

	.left{
		transform:rotateY(270deg) translateX(-165px);
		/*transform-origin:bottom left;*/
	}

	.right{
		transform: rotateY(-270deg) translateX(165px);
		/*transform-origin:bottom right;*/
	}
	.back{
		transform:translateZ(-165px) rotateY(180deg);
	}
	.top{
		transform: translateZ(-165px) rotateX(90deg);
		/*transform-origin:top;*/
	}

	.bottom{
		transform: translateZ(-165px) rotateX(-90deg);
		/*transform-origin:bottom;*/
	}
}

@media screen and (min-width: 1050px){

	body{
		background-color: #555;
		background: no-repeat url('images/sky-med.jpg');
		background-size: cover;
	}

	main{
		margin-bottom: 5em;
	}

	.photo-cube{
		width: 380px;
		height: 380px;
	}
	.front{
		transform:translateZ(190px);
	}
	.left{
		transform:rotateY(270deg) translateX(-190px);
		/*transform-origin:bottom left;*/
	}

	.right{
		transform: rotateY(-270deg) translateX(190px);
		/*transform-origin:bottom right;*/
	}
	.back{
		transform:translateZ(-190px) rotateY(180deg);
	}
	.top{
		transform: translateZ(-190px) rotateX(90deg);
		/*transform-origin:top;*/
	}

	.bottom{
		transform: translateZ(-190px) rotateX(-90deg);
		/*transform-origin:bottom;*/
	}
}

@media screen and (min-width: 1200px){

	main{
		margin-bottom: 2em;
	}

	h1{
		margin-bottom: 2.8em;
	}
	.photo-cube{
		width: 418px;
		height: 418px;
	}
	.front{
		transform:translateZ(209px);
	}
	.left{
		transform:rotateY(270deg) translateX(-209px);
		/*transform-origin:bottom left;*/
	}
	.right{
		transform: rotateY(-270deg) translateX(209px);
		/*transform-origin:bottom right;*/
	}
	.back{
		transform:translateZ(-209px) rotateY(180deg);
	}
	.top{
		transform: translateZ(-209px) rotateX(90deg);
		/*transform-origin:top;*/
	}

	.bottom{
		transform: translateZ(-209px) rotateX(-90deg);
		/*transform-origin:bottom;*/
	}
}

@media screen and (min-width: 1900px){
	body{
		background-color: #555;
		background: no-repeat url('images/sky-big.jpg');
		background-size: cover;
	}
}
