*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Cormorant SC', serif;
}


:root {
	--size: 220px;
}

.hold input[type="range"]{
	margin-bottom: 4em;
}





body{
	background-color: #555;
	background: no-repeat url('images/sky-mob.jpg');
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
}

.hamburger{
	position: absolute;
	height: 24px;
	width: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	left: 20px;
	top: 40px;

}

.hamburger hr{
	border: 2px black solid;
	border-radius: 8px;
}

.top-bun{
	transform: rotateZ(-30deg);
	transition: transform .8s;
}

.bottom-bun{
	transform: rotateZ(30deg);
	transition: transform .8s;
}

.menu{
	width: 15px;
	height: 15px;
	display: none;
	background-color: crimson;
	position: absolute;
	top: 50px;
	left: 50px;
	z-index: 5;

}

.expand{
	width: 150px;
	height: 150px;
	transition: width 2s ease-in, height 2s ease-in 2s;
}





nav{
	background-color: #222;
	height: 3em;
	line-height: 3em;

}
/*ul{
	display: flex;
	justify-content: space-around;
}*/



h1{
	padding: 1em 0 3em;
	text-align: center;
	/*background-color: red;*/
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.subhead{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	color: #1e0f0e;
	font-size: 30px;
	text-shadow: 0px 0px 7px white;
}

.subhead:nth-of-type(1){
	top: 73px;
}

.subhead:nth-of-type(2){
	top: 105px;
	/*top: calc(var(--size) + 232px);*/
	font-size: 20px;
	width: 235px;
	text-align: center;
}
.subhead:nth-of-type(3){
	top: calc((var(--size) * 1.2) + 160px);
}

.subhead:nth-of-type(4){
	top: calc((var(--size) * 1.2) + 192px);
	font-size: 20px;
	width: 235px;
	text-align: center;
}






main{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

/*button{
	display: none;
}*/

/* cursor: -moz-grabbing; */
    /* cursor: -webkit-grabbing; */
    /* cursor: grabbing; */
div.overlay{
	display: none;
	perspective: 1000px;
	position: absolute;
	min-height: 114.25vh;
	width: 100%;
	height: 100%;
	/*opacity: .5;*/
	background-color: transparent;
	z-index: 35;
	justify-content: center;
	align-items: center;

}
button{
	position: absolute;
	width: 58px;
	height: 30px;
	font-size: 16px;
	top: 40px;
	z-index: 444;
	box-shadow: 8px 5px 15px 0px #382123;
	color: whitesmoke;
	background: linear-gradient(to right, #505b1c, #7ac670);
	border: 2px solid #fbe2a4;
	outline: none;
	border-radius: 20px;

}
button:hover{
	filter: invert();
}

button.next{
	left: 30px;

}

button.prev{
	right: 30px;
}

.menu-hold{
	/*display: none;*/
	padding-top: 330px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	transform-style: preserve-3d;
	/*transform: rotateY(0deg) translateZ(280px);*/
}



.menu-hold ul{
	position: relative;
	width: 200px;
	height: 200px;
	/*margin: 17em auto 0;*/
	transform-style: preserve-3d;

}

.menu-hold ul li{
	position: absolute;
	color: black;
	text-align: center;
	font-size: 20px;
	/*padding-top: 40px;*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 10px solid #333;
	border-top-color: #bdbdbd;
	border-bottom-color: #bdbdbd;
	box-shadow: 18px 20px 51px 6px black;
	background-color: wheat;
	/*border-radius: 50%;*/
	background: no-repeat url('images/sky-sq.jpg');
	transform-origin: 50% 50%;
	transform: translateY(-200px);
	transition: all .9s cubic-bezier(1,-0.06, 1, 1);
	cursor: default;
}

@keyframes frontToBack {
	0% { transform: rotateX(0deg) translateY(-200px) translateZ(0px); }
	100% { transform: rotateX(-310deg) translateY(-200px) translateZ(0px); }
}
@keyframes backToMiddleBack {
	0% { transform: rotateX(50deg) translateY(-200px) translateZ(0px); }
	100% { transform: rotateX(40deg) translateY(-200px) translateZ(0px); }
}
@keyframes middleBackToMiddleFront {
	0% { transform: rotateX(40deg) translateY(-200px) translateZ(0px); }
	100% { transform: rotateX(30deg) translateY(-200px) translateZ(0px); }
}
@keyframes middleFrontToFront {
	0% { transform: rotateX(30deg) translateY(-200px) translateZ(0px); }
	100% { transform: rotateX(0deg) translateY(-200px) translateZ(0px); }
}

.applyAnimFTB{
	animation: 1.1s 1 ease-in forwards frontToBack;
}
.applyAnimBTMB{
	animation: 1.1s 1 ease-in forwards backToMiddleBack;
}
.applyAnimMBTMF{
	animation: 1.1s 1 ease-in forwards middleBackToMiddleFront;
}
.applyAnimMFTF{
	animation: 1.1s 1 ease-in forwards middleFrontToFront;
}

@keyframes backToFront {
	0% { transform: rotateX(-310deg) translateY(-200px) translateZ(0px); }
	100% { transform: rotateX(0deg) translateY(-200px) translateZ(0px); }
}
@keyframes frontToMiddleFront {
	0% { transform: rotateX(0deg) translateY(-200px) translateZ(0px); }
	100% { transform: rotateX(30deg) translateY(-200px) translateZ(0px); }
}
@keyframes middleFrontToMiddleBack {
	0% { transform: rotateX(30deg) translateY(-200px) translateZ(0px); }
	100% { transform: rotateX(40deg) translateY(-200px) translateZ(0px); }
}
@keyframes middleBackToBack {
	0% { transform: rotateX(40deg) translateY(-200px) translateZ(0px); }
	100% { transform: rotateX(50deg) translateY(-200px) translateZ(0px); }
}

.applyAnimBTF{
	animation: 1.1s 1 ease-in forwards backToFront;
}
.applyAnimFTMF{
	animation: 1.1s 1 ease-in forwards frontToMiddleFront;
}
.applyAnimMFTMB{
	animation: 1.1s 1 ease-in forwards middleFrontToMiddleBack;
}
.applyAnimMBTB{
	animation: 1.1s 1 ease-in forwards middleBackToBack;
}

.li-overlay{
	display: none;
	position: absolute;
	background-color: transparent;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 999;
}


.menu-hold ul li:nth-of-type(1){
	/*background: no-repeat url('images/sky-1.jpg');*/
	/*background-size: contain;*/
	/*filter: invert(100%);*/
	/*background: linear-gradient(45deg, blue, red);*/
	/*background: no-repeat url('images/sky-sq.jpg');*/
	transform: rotateX(5deg) translateY(-200px) translateZ(0px);

}
.menu-hold ul li:nth-of-type(2){
	/*font-size: 16px;*/
	/*padding-top: 0;*/

	/*background: no-repeat url('images/sky-sq.jpg');*/
	transform: rotateX(5deg) translateY(-200px) translateZ(0px);

}
.menu-hold ul li:nth-of-type(3){
	transform: rotateX(5deg) translateY(-200px) translateZ(0px);

}
.menu-hold ul li:nth-of-type(4){
	transform: rotateX(5deg) translateY(-200px) translateZ(0px);

}


.menu-hold .slider{
	position: relative;

}

.menu-hold .slider input{
	-webkit-appearance: none;
	width: 90%;
	background: transparent;
	cursor: ew-resize;
}

.menu-hold .slider input:focus{
	outline: none;
	outline-offset: 0;
}

.menu-hold .slider .track{
	width: 0px;
	min-width: 0px;
	max-width: 144px;
	height: 16px;
	/*background-color: red;*/
	position: absolute;
	left: 11px;
	z-index: -1;
	top: 26px;



}




.menu-hold div.flip-switch{
	position: relative;
	/*margin: auto;*/
	/*border-radius: 50%;*/
	background-color: black;
	width: 34px;
	height: 50px;
	border-radius: 2px;
	/*display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;*/

}
.menu-hold ul li > p{
	position: absolute;
	top: 0;
}

.menu-hold div.flip-switch label{
	position: absolute;
	top: -31px;
	/*font-size: 18px;*/
	/*color: white;*/
	left: 50%;
	transform: translateX(-50%);
}


.menu-hold div.flip-switch label:last-of-type{
	top: 55px;

}

.menu-hold div.flip-switch input[name="menu-type"]:not(:checked){
	z-index: -1;

}

.menu-hold div.flip-switch input[name="menu-type"]:not(:checked):after{
	display: none;
}


.menu-hold div.flip-switch input[name="menu-type"]{
	position: absolute;
	width: 1px;
	height: 1px;
}


.menu-hold div.flip-switch input[name="menu-type"]:after{
	content: "";
	position: absolute;
	width: 26px;
	height: 21px;
	background-color: whitesmoke;
	top: 18px;
	left: 49%;
	border-radius: 1px;
	transform: translateX(-50%);
}

.menu-hold div.flip-switch input[name="menu-type"]:last-of-type:after{
	top: -18px;

}






input[type=checkbox] {
    /*width: 9px;
    height: 9px;
    margin-right: 13px;*/
    font-size: 70px;
    -webkit-appearance: none;
		-moz-appearance: none;
}

input[type=checkbox]:after {
    content: "\1F5F4";
    background-color: transparent;
    display: inline-block;
    margin-left: 23px;
    color: #fff;
    width: 70px;
    height: 70px;
    text-shadow: 4px 6px 13px #444;
    /*border-radius: 18px;*/
}
input[type=checkbox]:checked:after {
    content: "\2713";
    background-color: transparent;
    font-weight: 600;
		font-size: 1em;
		margin-left: 12px;
		line-height: 1;
		/*border: none;*/
		padding: 6px 1px 1px 18px;
		text-shadow: 4px 6px 13px #444;
}
input[type=checkbox]:focus{
		outline: none;
}










.rect-prism-container{
	perspective: 700px;
	margin: 7px 0 0 -1px;
}

.cube-container {
	perspective: 1500px;
	margin-bottom: 5em;
	/*opacity: 0;*/
	/* width: 100%; */
	/* background-color:red; */
}

.cube-container:nth-of-type(1){
	margin-bottom: calc(var(--size) / 1.8);
}


.switch-rect{
	transform-style: preserve-3d;
	transform: rotateX(125deg) rotateY(-13deg) rotateZ(-19deg);
	/*width: 100px;
	height: 60px;*/
}

@keyframes bob {
	0% { margin-bottom: 2.8em; }
	50% { margin-bottom: 3em; }
	100% { margin-bottom: 2.8em; }
}

@keyframes moveAround {

	0% { transform: rotateX(8deg) rotateY(-12deg); }
	8.333% { transform: rotateX(-8deg) rotateY(-12deg); }
	16.666% { transform: rotateX(-8deg) rotateY(12deg); }
	25% { transform: rotateX(8deg) rotateY(12deg); }
	33.333% { transform: rotateX(-8deg) rotateY(12deg); }
	41.666% { transform: rotateX(8deg) rotateY(12deg); }
	50% { transform: rotateX(-8deg) rotateY(12deg); }
	58.333% { transform: rotateX(-8deg) rotateY(-12deg); }
	66.666% { transform: rotateX(8deg) rotateY(-12deg); }
	75% { transform: rotateX(-8deg) rotateY(-12deg); }
	83.333% { transform: rotateX(8deg) rotateY(-12deg); }
	91.666% { transform: rotateX(-8deg) rotateY(-12deg); }
	100% { transform: rotateX(0deg) rotateY(0deg); }
}

.photo-cube{
  /* cursor: -moz-grab; */
  /* cursor: -webkit-grab; */
  /* cursor: grab; */
  transition: transform 0.001s;
  width: var(--size);
  height: var(--size);
  /* margin: auto; */
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(0deg);
}

.switch-front, .switch-back, .switch-left, .switch-right, .switch-top, .switch-bottom{
  /*width: 100%;
  height: 100%;*/
  display: block;
  position: absolute;
	background-color: whitesmoke;
	border: 3px solid black;
	border-radius: 1px;
}
.switch-front{
	width: 30px;
	height: 30px;
	border-right-width: 4px;
	border-top-width: 5px;
	/*background-color: blue;*/
	transform: translateZ(-5px);
}
.switch-back{
	width: 30px;
	height: 30px;
	border-left-width: 4px;
	/*background-color: green;*/
	transform: translateZ(-20px) rotateY(180deg);
}
.switch-left{
	width: 15px;
	height: 30px;
	border-top-width: 4px;
	border-right-width: 5px;
	/*background-color: red;*/
	transform: rotateY(270deg) translateX(-20px);
	transform-origin: bottom left;
}
.switch-right{
	width: 15px;
	height: 30px;
	/*background-color: yellow;*/
	transform: rotateY(-270deg) translateZ(15px) translateX(20px);
	transform-origin: bottom right;
}
.switch-top{
	width: 30px;
	height: 15px;
	/*background-color: orange;*/
	transform: translateZ(-20px) translateY(0px) rotateX(90deg);
	transform-origin: top;
}
.switch-bottom{
	width: 30px;
	height: 15px;
	border-top-width: 4px;
	border-right-width: 4px;
	/*background-color: purple;*/
	transform: translateZ(-20px) translateY(15px) rotateX(-90deg);
	transform-origin: bottom;
}

.common-cube{
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

.front{
 transform: translateZ(calc(var(--size) / 2));
}

.left{
 transform: rotateY(270deg) translateX(calc(var(--size) / -2));
  transform-origin: bottom left;
}

.right{
 transform: rotateY(-270deg) translateX(calc(var(--size) / 2));
  transform-origin: bottom right;
}

.back{
  transform: translateZ(calc(var(--size) / -2)) rotateY(180deg);
}

.top{
	transform: translateZ(calc(var(--size) / -2)) rotateX(90deg);
	transform-origin: top;
}

.bottom{
	transform: translateZ(calc(var(--size) / -2)) rotateX(-90deg);
	transform-origin: bottom;
}

@media screen and (min-width: 460px){

	body{
		/*background-color: #555;*/

		/*background-size: 100% 100%;*/


		background-color: #555;
		background: no-repeat url('images/sky-mob2.jpg');
		background-position: center center;
		background-attachment: fixed;
		background-size: cover;
	}

	h1{
		/*margin-bottom: 3em;*/
	}

	.photo-cube{
		/*width: calc(var(--size) * 1.5);
		height: calc(var(--size) * 1.5);*/
		/*transform-origin: calc(var(--size) / 2) calc(var(--size) / 2);*/
	}


	.front{
		/*transform:translateZ(calc(var(--size) - 165px));*/
	}

	.left{
		/*transform:rotateY(270deg) translateX(-165px);*/
		/*transform-origin:bottom left;*/
	}

	.right{
		/*transform: rotateY(-270deg) translateX(165px);*/
		/*transform-origin:bottom right;*/
	}

	.back{
		/*transform:translateZ(-165px) rotateY(180deg);*/
	}

	.top{
		/*transform: translateZ(-165px) rotateX(90deg);*/
		/*transform-origin:top;*/
	}

	.bottom{
		/*transform: translateZ(-165px) rotateX(-90deg);*/
		/*transform-origin:bottom;*/
	}

}

@media screen and (min-width: 630px){


	.photo-cube{
		/*width: 440px;
		height: 440px;*/
	}
	.front{
		/*transform:translateZ(220px);*/
	}

	.left{
		/*transform:rotateY(270deg) translateX(-220px);*/
		/*transform-origin:bottom left;*/
	}

	.right{
		/*transform: rotateY(-270deg) translateX(220px);*/
		/*transform-origin:bottom right;*/
	}
	.back{
		/*transform:translateZ(-220px) rotateY(180deg);*/
	}

	.top{
		/*transform: translateZ(-220px) rotateX(90deg);*/
		/*transform-origin:top;*/
	}

	.bottom{
		/*transform: translateZ(-220px) rotateX(-90deg);*/
		/*transform-origin:bottom;*/
	}
}

@media screen and (min-width: 768px){

	body{
		/*background-color: #555;*/

		/*background-size: cover;*/


		background-color: #555;
		background: no-repeat url('images/sky-tab.jpg');
		background-position: center center;
		background-attachment: fixed;
		background-size: cover;

	}

	h1{
		margin-bottom: 2.8em;
		animation: 1.4s 2s 7 cubic-bezier(0.4, 0, 1, 1) bob;
	}

	.photo-cube{
		/*margin-bottom: 2.8em;*/
		animation: 2s 1 cubic-bezier(0.4, 0, 1, 1) moveAround;
	}



	main{
		flex-direction: row;
		/*margin-bottom: 10em;*/
	}


	.subhead{
		/*position: absolute;*/
		left: 25%;
		/*transform: translateX(-50%);
		color: #1e0f0e;*/
		font-size: 32px;
		/*text-shadow: 0px 0px 7px white;*/
	}

	.subhead:nth-of-type(odd){
		top: 73px;
	}

	.subhead:nth-of-type(even){
		top: 105px;
		/*top: calc(var(--size) + 232px);*/
		font-size: 22px;
		width: 260px;
		/*text-align: center;*/
	}
	.subhead:nth-of-type(3){
		left: 75%;
	}

	.subhead:nth-of-type(4){
		left: 75%;
	}



	.photo-cube{
		/*width: 300px;
		height: 300px;*/
	}

	.cube-container:nth-of-type(1){
		margin-bottom: 5em;
	}

	.front{
		/*transform:translateZ(150px);*/
	}

	.left{
		/*transform:rotateY(270deg) translateX(-150px);*/
		/*transform-origin:bottom left;*/
	}

	.right{
		/*transform: rotateY(-270deg) translateX(150px);*/
		/*transform-origin:bottom right;*/
	}
	.back{
		/*transform:translateZ(-150px) rotateY(180deg);*/
	}
	.top{
		/*transform: translateZ(-150px) rotateX(90deg);*/
		/*transform-origin:top;*/
	}

	.bottom{
		/*transform: translateZ(-150px) rotateX(-90deg);*/
		/*transform-origin:bottom;*/
	}

}

@media screen and (min-width: 850px){

	main{
		/*margin-bottom: 8em;*/
	}

	.photo-cube{
		/*width: 330px;
		height: 330px;*/
	}
	.front{
		/*transform:translateZ(165px);*/
	}

	.left{
		/*transform:rotateY(270deg) translateX(-165px);*/
		/*transform-origin:bottom left;*/
	}

	.right{
		/*transform: rotateY(-270deg) translateX(165px);*/
		/*transform-origin:bottom right;*/
	}
	.back{
		/*transform:translateZ(-165px) rotateY(180deg);*/
	}
	.top{
		/*transform: translateZ(-165px) rotateX(90deg);*/
		/*transform-origin:top;*/
	}

	.bottom{
		/*transform: translateZ(-165px) rotateX(-90deg);*/
		/*transform-origin:bottom;*/
	}
}

@media screen and (min-width: 1050px){

	body{
		/*background-color: #555;*/

		/*background-size: cover;*/

		background-color: #555;
		background: no-repeat url('images/sky-med.jpg');
		background-position: center center;
		background-attachment: fixed;
		background-size: cover;



	}

	main{
		margin-bottom: 5em;
	}

	.photo-cube{
		/*width: 380px;
		height: 380px;*/
	}
	.front{
		/*transform:translateZ(190px);*/
	}
	.left{
		/*transform:rotateY(270deg) translateX(-190px);*/
		/*transform-origin:bottom left;*/
	}

	.right{
		/*transform: rotateY(-270deg) translateX(190px);*/
		/*transform-origin:bottom right;*/
	}
	.back{
		/*transform:translateZ(-190px) rotateY(180deg);*/
	}
	.top{
		/*transform: translateZ(-190px) rotateX(90deg);*/
		/*transform-origin:top;*/
	}

	.bottom{
		/*transform: translateZ(-190px) rotateX(-90deg);*/
		/*transform-origin:bottom;*/
	}
}

@media screen and (min-width: 1200px){

	main{
		margin-bottom: 2em;
	}

	h1{
		/*margin-bottom: 2.8em;*/
		/*animation: 1.4s 7 cubic-bezier(0.4, 0, 1, 1) bob;*/
	}

	.photo-cube{
		/*width: 418px;
		height: 418px;*/
	}
	.front{
		/*transform:translateZ(209px);*/
	}
	.left{
		/*transform:rotateY(270deg) translateX(-209px);*/
		/*transform-origin:bottom left;*/
	}
	.right{
		/*transform: rotateY(-270deg) translateX(209px);*/
		/*transform-origin:bottom right;*/
	}
	.back{
		/*transform:translateZ(-209px) rotateY(180deg);*/
	}
	.top{
		/*transform: translateZ(-209px) rotateX(90deg);*/
		/*transform-origin:top;*/
	}

	.bottom{
		/*transform: translateZ(-209px) rotateX(-90deg);*/
		/*transform-origin:bottom;*/
	}
}

@media screen and (min-width: 1900px){
	body{
		/*background-color: #555;*/

		/*background-size: cover;*/


		background-color: #555;
		background: no-repeat url('images/sky-big.jpg');
		background-position: center center;
		background-attachment: fixed;
		background-size: cover;

	}
}
