


.cube-container{
  @include three($dist: 1500px);
  margin-bottom: 5em;
  &:nth-of-type(1){
    margin-bottom: calc(var(--size) / 1.8);
    @media #{$tablet} {
      margin-bottom: 5em;
    }
  }
}
// .cube-container

.photo-cube{
  /*transition: transform .001s;*/
  width: var(--size);
  height: var(--size);
  @include three($pers: preserve-3d);
  transform: rotateX(0deg) rotateY(0deg);
}
