@mixin wh($w, $h) {
  width: $w;
  height: $h;
}
@mixin fontMarg($size, $mb) {
	font-size: $size;
  margin-bottom: $mb;
}
@mixin flex($dir: null, $just: null, $align: null, $wrap: null) {
  display: flex;
  flex-direction: $dir;
  justify-content: $just;
  align-items: $align;
  flex-wrap: $wrap;
}
@mixin position($rt: null, $lt: null, $tp: null, $bm: null) {
  position: fixed;
  right: $rt;
  left: $lt;
  top: $tp;
  bottom: $bm;
}
@mixin fonty($sz, $wt: null, $lh: null) {
  font-size: $sz;
  font-weight: $wt;
  line-height: $lh;
}
@mixin focus($col, $wd) {
  outline: none;
  border: $wd solid $col;
}
@mixin deco($xoff, $wd, $bot) {
  content: '';
  position: absolute;
  background: url('../images/dividerssprite.png');
  background-position: $xoff;
  background-size: 200%;
  background-repeat: no-repeat;
  @include wh($wd, 55px);
  left: 50%;
  transform: translateX(-50%);
  bottom: $bot;
}