$cor : 'Cormorant SC', serif;
$mobile2 : 'screen and (min-width: 460px)';
$li_expand : 'screen and (min-width: 484px)';
$ul_expand : 'screen and (min-width: 729px)';
$tablet : 'screen and (min-width: 768px)';
$medium : 'screen and (min-width: 1050px)';
$big : 'screen and (min-width: 1900px)';
