$head_expand : 'screen and (min-width: 425px)';
$two_col : 'screen and (min-width: 674px)';
$upsize_text : 'screen and (min-width: 1447px)';
$big : 'screen and (min-width: 3000px)';
$blue : #156064;
$yellow : #fafad2;
$red : #d00000;
$bord : 2px solid transparent;
$offsets : (o0: 0px, o1: -150px, o2: -300px, o3: -450px, o4: -600px, o5: -900px);