@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap&text=I');
@import url('https://fonts.googleapis.com/css?family=Cormorant+SC&display=swap&text=%200123456!ACJMPRSTabcdefghijklmnopqrstuvwxyz%C3%A9');
// 0123456!ACJMPRSTabcdefghijklmnopqrstuvwxyzé
*{
    font-family: $cor;
}
body{
    background: linear-gradient(-65deg, rgba(250, 250, 210, .87) 25%, rgba(210, 210, 255, .88) 51%, rgba(250, 250, 210, .87) 75%), url('../images/cloud.jpg') repeat-y;// Image constituents by Pixabay user engin akyurt
    background-position-y: 0%;
    background-size: contain;
    @media #{$col_gap_expand}{
        background-size: cover;
    }
}
h1{
    &::after{
        @include deco(0%, 80%, -100px);
    }
}
section{
    &:not(:last-of-type)::after{
        @include deco(100%, 50%, -130px);
    }
}
.newwindow::after{
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAYAAAC5tzfZAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwQAADsEBuJFr7QAAABl0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4yMfEgaZUAAACoSURBVChTjY49CgIxEIWzYLHXWfAIniM/jZ2NYmHjAfYwgqfJDey228pG3xsZCJNBffAlmSRfMqHWKngppWxzzo+U0gJWrJ/gFTh4UMJ8BkdwAnfuE5Hk2S/BHYoUbp3ktakC2pvBrpNsGuGKefwp4cKBZzHGC2usN5S470o42KugLaMeOEttJdSpFRS950r4ZdKWmFYSgbGSl/YniZX0ZZtO+pePEcIbSqOuBUICUn0AAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    margin-left: 2px;
}

.arts > div,
#about p{
    & > a{
        font-family: inherit;
        border: $bord;
    }
    & > a:link,
    & > a:visited{
        color: $blue;
    }
    & > a:hover{
        background-color: $blue;
        color: $yellow;
    }
    & > a:focus{
        @include focus($blue, 2px);
    }
}
#about button{
    border: $bord;
    font-family: inherit;
    background: none;
    text-decoration: underline;
    cursor: pointer;
    color: $blue;
    font-size: 1em;
    &:hover{
        background-color: $blue;
        color: $yellow;
    }
    &:focus{
        @include focus($blue, 2px);
    }
}
.installbtn,
.reloadbtn{
    display: none;
    @include position($lt: 29px, $bm: 40px);
    box-shadow: none;
    border-radius: 0;
    border: none;
    color: $yellow;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1;
    background-color: transparent;
    cursor: pointer;
    @include wh(90px, 60px);
    z-index: 8;
    animation: 1.6s flash ease-in 4.5;
    &:focus{
        @include focus($yellow, 3px);
    }
}
.reloadbtn{
    @include wh(104px, 80px);
    @include position($rt: 23px, $lt: auto, $bm: 37px);
}
.installdiv,
.reloaddiv{
    display: none;
    z-index: 7;
    background-color: $blue;
    @include position($lt: 15px, $bm: 1px);
    @include wh(120px, 120px);
    -webkit-mask-image: paint(buttonPaint);
    mask-image: paint(buttonPaint);
}
.reloaddiv{
    @include position($rt: 15px, $lt: auto);
}
@keyframes flash{
    0% { opacity: 0; }
    51% { opacity: 1; }
    100% { opacity: 0; }
}