@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap&text=I');
@import url('https://fonts.googleapis.com/css?family=Cormorant+SC&display=swap&text=%200136!.-%7C%3AACJMPRSTabcdefghijklmnopqrstuvwxyz%C3%A9');
// 0136!.-|:ACJMPRSTabcdefghijklmnopqrstuvwxyzé
*{
    font-family: 'Cormorant SC', serif;
}
h1{
    &::after{
        @include deco(0%, 80%, -100px);
        @media #{$two_col}{
            bottom: -120px;
            max-width: 2560px;
        }
    }
}
section{
    &:not(:last-of-type)::after{
        @include deco(100%, 50%, -130px);
        @media #{$two_col}{
            bottom: -140px;
            max-width: 1000px;
        }
    }
}
.newwindow::after{
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAYAAAC5tzfZAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwQAADsEBuJFr7QAAABl0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4yMfEgaZUAAACoSURBVChTjY49CgIxEIWzYLHXWfAIniM/jZ2NYmHjAfYwgqfJDey228pG3xsZCJNBffAlmSRfMqHWKngppWxzzo+U0gJWrJ/gFTh4UMJ8BkdwAnfuE5Hk2S/BHYoUbp3ktakC2pvBrpNsGuGKefwp4cKBZzHGC2usN5S470o42KugLaMeOEttJdSpFRS950r4ZdKWmFYSgbGSl/YniZX0ZZtO+pePEcIbSqOuBUICUn0AAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    margin-left: 2px;
}
#about > p > a{
    font-family: inherit;
}
.arts > div,
#about > p{
    & > a{
        border: $bord;
    }
    & > a:link,
    & > a:visited{
        color: $blue;
    }
    & > a:hover{
        background-color: $blue;
        color: $yellow;
    }
    & > a:focus{
        @include focus($blue, 2px);
    }
}
#harp{
    position: absolute;
    background-color: white;
    overflow-x: scroll;
    min-height: 80px;
    width: 92%;
    max-width: 1238px;
    box-shadow: 0px -30px 30px 20px #000000bf,
                0px 30px 30px 20px #000000bf;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    @media screen and (min-width: 1363px) {
        overflow-x: auto;
    }
}
#harp p{
    font-family: sans-serif;
    position: sticky;
    text-align: center;
    top: 5%;
    z-index: 1;
    color: $blue;
}
#harp button{
    font-family: sans-serif;
    position: sticky;
    left: 2%;
    top: 8%;
    z-index: 1;
    font-size: 3em;
    width: 40px;
    cursor: pointer;
    height: 40px;
    color: $red;
    box-shadow: 0px 0px 4px 1px #3f3f3f;
    line-height: 0px;
    border-radius: 50%;
    border: 1px solid $yellow;
    background-color: white;
    &:hover,
    &:focus{
        background-color: $red;
        color: white;
        outline: none;
    }
}
span + button{
    border: $bord;
    font-family: inherit;
    background: none;
    text-decoration: underline;
    cursor: pointer;
    color: $blue;
    font-size: 1em;
    &:hover{
        background-color: $blue;
        color: $yellow;
    }
    &:focus{
        @include focus($blue, 2px);
    }
}
cite{
    font-family: inherit;
    font-style: italic;
}
time{
    font-family: inherit;
}
#about span{
    font-size: .9em;
}
#harp img{
    font-family: serif;
}
#harp.show{
    display: block;
}
.installbtn,
.reloadbtn{
    display: none;
    @include position($lt: 29px, $bm: 40px);
    box-shadow: none;
    border-radius: 0;
    border: none;
    color: $yellow;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1;
    background-color: transparent;
    cursor: pointer;
    @include wh(90px, 60px);
    z-index: 8;
    animation: 1.6s flash ease-in 4.5;
    &:focus{
        @include focus($yellow, 3px);
    }
}
.reloadbtn{
    @include wh(104px, 80px);
    @include position($rt: 23px, $lt: auto, $bm: 37px);
}
.installdiv,
.reloaddiv{
    display: none;
    z-index: 7;
    background-color: $blue;
    @include position($lt: 15px, $bm: 1px);
    @include wh(120px, 120px);
    -webkit-mask-image: paint(buttonPaint);
    mask-image: paint(buttonPaint);
}
.reloaddiv{
    @include position($rt: 15px, $lt: auto);
}
@keyframes flash{
    0% { opacity: 0; }
    51% { opacity: 1; }
    100% { opacity: 0; }
}