@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap&text=I');
@import url('https://fonts.googleapis.com/css?family=Cormorant+SC&display=swap&text=%200123456!ACJMPRSTabcdefghijklmnopqrstuvwxyz%C3%A9');
// 0123456!ACJMPRSTabcdefghijklmnopqrstuvwxyzé
*{
    // margin: 0;
    // padding: 0;
    // box-sizing: border-box;
    font-family: $cor;
  }
body{

    background: linear-gradient(-65deg, rgba(250, 250, 210, .87) 25%, rgba(210, 210, 255, .88) 51%, rgba(250, 250, 210, .87) 75%), url('../images/cloud.jpg') repeat-y;// Image constituents by Pixabay user engin akyurt
    background-position-y: 0%;
    background-size: contain;
    @media #{$col_gap_expand}{
        background-size: cover;
    }
}
h1{
    &::after{
      @include deco(0%, 80%, -100px);
    }
}

section{
    &:not(:last-of-type)::after{
      @include deco(100%, 50%, -130px);
    }
  }

  .newwindow::after{
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAYAAAC5tzfZAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwQAADsEBuJFr7QAAABl0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4yMfEgaZUAAACoSURBVChTjY49CgIxEIWzYLHXWfAIniM/jZ2NYmHjAfYwgqfJDey228pG3xsZCJNBffAlmSRfMqHWKngppWxzzo+U0gJWrJ/gFTh4UMJ8BkdwAnfuE5Hk2S/BHYoUbp3ktakC2pvBrpNsGuGKefwp4cKBZzHGC2usN5S470o42KugLaMeOEttJdSpFRS950r4ZdKWmFYSgbGSl/YniZX0ZZtO+pePEcIbSqOuBUICUn0AAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    margin-left: 2px;
  }