.projects > div{
  margin: 0 auto;
}
h1::after{
  width: 50%;// wider than this given the 50% translation makes it overflow in edge
}
.arts > div > a{
  letter-spacing: -1px;
  &::before,
  &::after{
    display: none;// hide quotes in edge because it underlines them
  }
}
