@import 'mixins';
.panH3,
.panP,
.panA{
  text-align: center;
  color: #30511d;
}
.panH3{
  @include fonty(1.9em, $lh: 1.6);
  margin: 0;
}
.panP{
  margin: 0;
  @include fonty(1.5em, bold, 1);
  height: 24px;
  &:last-of-type{
    height: 2rem;
    border-bottom: 1px solid #30511d;
    padding-bottom: .5rem;
  }
}
.panDiv{
  display: grid;
  grid: "top top" 90% "lbot rbot" 10% / 1fr 1fr;
  justify-items: center;
  @include wh(288px, 320px);
}
.panImg{
  @include wh(100%, 100%);
  grid-area: top;
}
.panA{
  @include wh(calc(100% - 2px), 30px);
  @include fonty(2em, bold, .8);
  text-decoration: none;
  border: 1px solid #30511d;
  &:focus,
  &:hover{
    outline: none;
    background-color: #1a2845;
    color: #e5d7ba;
  }
}
.panAGrid{
  grid-column: 1 / -1;
}
.panAGrids:first-of-type{
  grid-area: lbot;
}
.panAGrids:last-of-type{
  grid-area: rbot;
}
.linkA{
  display: block;
  border: 2px solid transparent;
  padding: 4px;
  &:focus,
  &:hover{
    @include focus(#1a2845, 2px);
  }
}
@supports not (place-items: center) {//edge
  .projects > div{
    margin: 0 auto;
  }
  h1::after{
    width: 50%;
  }
  .arts > div a{
    letter-spacing: -1px;
    &::before,
    &::after{
      display: none;
    }
  }
  map[name="shapes_images"]::before{
    content: 'demo 3 is chrome only';
    font-family: 'Scheherazade', serif;
    width: 100%;
    font-size: 20px;
    position: absolute;
    text-align: center;
    top: 88px;
  }
  map[name="knockout"]::before{
    content: 'chrome only';
    font-family: 'Scheherazade', serif;
    width: 100%;
    font-size: 20px;
    position: absolute;
    text-align: center;
    top: 88px;
  }
  map + img{
    border: 2px solid transparent;
    &:hover,
    &:focus{
      border: 2px solid blue;
    }
  }
}
