@import 'variables';
@import 'extends';
@import 'mixins';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $cor;
}
:root {
  --size: 220px;
  --delay: 0s;
}
body{
  // height: 10000px;
  // position: relative;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  background: linear-gradient(90deg, #eed6aa -2%, #bfc1c0 124%); // edge fallback
  background: linear-gradient(90deg, #ffff00 -55%, #eed6aade 10%, 70%, #bfc1c0de 110%);
}

html{
  // overflow-x: hidden;
  // font-size: 18px;

}

header{
  position: fixed;
  top: 0;
  height: 3rem;
  width: 100%;
  background-color: #fafad2;
  left: 50%;
  transform: translateX(-50%);
}
nav{
  margin: 0 .5rem;
  height: 100%;
}
ul{
  display: flex;
  height: 100%;
  align-items: center;
  list-style: none;
  justify-content: space-around;
}
li{
  font-size: 1.3em;
  font-weight: bold;
  @media #{$two_col} {
    font-size: 1.7em;
  }
}
li a{
  text-decoration: none;
  border: 2px solid transparent;
}
li a:focus{
  outline: none;
  border: 2px solid #2323c5;
}
li a:link,
li a:visited{
  color: initial;
}
li a:hover{
  text-decoration: underline;
}
li:before {
  content: "\200B";
  position: absolute;
}
#port:target,
#cont:target{
  padding-top: 3rem;
}

.panH3,
.panP,
.panA{
  text-align: center;
  color: #30511d;
}
.panH3{
  font-size: 1.9em;
  line-height: 1.5;
  margin: 0;
}
.panP{
  margin: 0;
  font-size: 1.5em;
  line-height: 1;
  height: 24px;
  font-weight: bold;
}
.panP:last-of-type{
  height: 2rem;
  border-bottom: 1px solid #30511d;
  padding-bottom: .5rem;
}
.panDiv{
  display: grid;
  grid: "top top" 90% "lbot rbot" 10% / 1fr 1fr;
  justify-items: center;
  width: 288px;
  height: 320px;
}
.panImg{
  width: 100%;
  height: 100%;
  grid-area: top;
}
.panA{
  width: calc(100% - 2px);
  height: 30px;
  line-height: 0.8;
  font-size: 2em;
  text-decoration: none;
  border: 1px solid #30511d;
  font-weight: bold;
}
.panAGrid{
  grid-column: 1 / -1;
}
.panDiv:focus,
.panA:focus{
  outline: none;
  background-color: #1a2845;
  color: #e5d7ba;
}
.panAGrids:first-of-type{
  grid-area: lbot;
}
.panAGrids:last-of-type{
  grid-area: rbot;
}
.linkA{
  display: block;
  border: 2px solid transparent;
  padding: 4px;
}
.linkA:focus{
  outline: none;
  border: 2px solid #1a2845;
}





aside{
  display: none;
  position: fixed;
  top: 3%;
  bottom: 3%;
  right: 3%;
  left: 3%;
  z-index: 19;
  background-color: #696969;
}

object{
  width: 100%;
  height: 100%;
}

iframe{
  width: 100%;
  height: 100%;
}



li button{
  font-size: 1em;
  font-weight: bold;
}
li button:focus,
li button:hover{
  outline: none;
  border: 2px solid #2323c5;
}



aside button{
  width: 35px;
  height: 50px;
  font-size: 2.5em;
  background-color: #f8f8ff;
  line-height: 0;
  position: fixed;
  left: 3%;
  top: 10%;
  border: 3px solid transparent;
}
aside button:focus,
aside button:hover{
  outline: none;
  border: 5px solid #ff7f50;
}


.projects{
  // --time: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 100px;
  width: 90%;
  margin: 0 auto;
  // background-color: red;
  @media #{$col_gap_expand} {
    grid-column-gap: 50px;
  }
  @media #{$four_cols} {
    grid-template-columns: repeat(4, 1fr);
  }
  @media #{$six_cols} {
    grid-template-columns: repeat(6, 1fr);
  }
  @media #{$big} {
    width: 80%;
  }
}
.projects > div{
  margin: 0 auto;
  width: 288px;
  height: 435px;
  background-color: transparent;
}
.projects div:focus{

  outline: none;



  border-image-slice: 10;
  border-image-width: 0 0 10px 0;
  border-image-outset: 0;
  border-image-source: linear-gradient(blue, blue);
  border-image-source: paint(borderPaint);


  border-bottom-style: solid;

}



h1{
  margin: 9rem 0 6rem;
  text-align: center;
  font-size: 2em;
  @media #{$two_col} {
    font-size: 2.5em;
    margin-bottom: 7rem;
  }
  @media #{$upsize_text} {
    font-size: 3em;
    margin-bottom: 8rem;
  }
  @media #{$big} {
    font-size: 4em;
    margin-bottom: 10rem;
  }
  // @extend %user_select;
  // @media #{$mobile2} {
  //   font-size: 2em;
  // }
}
h2{
  text-align: center;
  font-size: 1.75em;
  margin-bottom: 3rem;
  @media #{$two_col} {
    font-size: 2.25em;
    margin-bottom: 4rem;
  }
  @media #{$upsize_text} {
    font-size: 2.75em;
    margin-bottom: 5rem;
  }
  @media #{$big} {
    font-size: 3.75em;
    margin-bottom: 7rem;
  }
}
.projects > div:last-child{
  @media #{$two_col} {
    grid-column: 1 / -1;
  }
}
section{
  margin-bottom: 8rem;
}

.contact{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  height: 400px;
  @media #{$two_col} {
    flex-direction: row;
    width: 70%;
    height: 150px;
  }
  @media #{$upsize_text} {
    width: 724px;
  }
}

.contact > div{
  // margin: 0 auto;
  // max-width: 100px;
  // max-height: 100px;
  // background-color: green;
  border: 2px solid transparent;
}














// l
