@import 'variables';
@import 'extends';
@import 'mixins';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $cor;
}
:root {
  --size: 220px;
  --delay: 0s;
}
body{
  // height: 10000px;
  // position: relative;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  background: linear-gradient(90deg, #ffff00 -55%, #eed6aade 10%, 70%, #bfc1c0de 110%);
}

html{
  // overflow-x: hidden;
  // font-size: 18px;

}

header{
  position: fixed;
  top: 0;
  height: 3rem;
  width: 100%;
  background-color: #fafad2;
  left: 50%;
  transform: translateX(-50%);
}
nav{
  margin: 0 .5rem;
  height: 100%;
}
ul{
  display: flex;
  height: 100%;
  align-items: center;
  list-style: none;
  justify-content: space-around;
}
li{
  font-size: 1.3em;
  @media #{$two_col} {
    font-size: 1.7em;
  }
}
li a{
  text-decoration: none;
  border: 2px solid transparent;
}
li a:focus{
  outline: none;
  border: 2px solid #2323c5;
}
li a:visited{
  color: initial;
}
li a:hover{
  text-decoration: underline;
}
li:before {
  content: "\200B";
  position: absolute;
}
#port:target,
#cont:target{
  padding-top: 2.75rem;
}


aside{
  display: none;
  position: fixed;
  top: 60px;
  z-index: 19;
  width: 100%;
  height: 80px;
  background-color: red;
}

li button{
  background: none;
  font-size: 1em;
  border: 2px solid transparent;
}
li button:focus{
  outline: none;
  border: 2px solid #2323c5;
}



aside button{
  width: 25px;
  height: 36px;
  font-size: 2em;
  line-height: 0;
  position: absolute;
  right: 0;
  border: none;
}



.projects{
  // --time: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 100px;
  width: 90%;
  margin: 0 auto;
  // background-color: red;
  @media #{$col_gap_expand} {
    grid-column-gap: 50px;
  }
  @media #{$four_cols} {
    grid-template-columns: repeat(4, 1fr);
  }
  @media #{$six_cols} {
    grid-template-columns: repeat(6, 1fr);
  }
  @media #{$big} {
    width: 80%;
  }
}
.projects > div{
  margin: 0 auto;
  width: 288px;
  height: 435px;
  background-color: transparent;
}
.projects div:focus{
  // width: 100%;
  // height: 10px;
  outline: none;
  // border-top: 2px solid #2323c5;

  border-image-source: paint(borderPaint);

  // border-image-source: url('../images/tictac.jpg');
  border-image-slice: 10;
  border-image-width: 0 0 10px 0;
  border-image-outset: 0;
  //
  //
  //
  border-bottom-style: solid;
  // border-bottom: 10px solid #2323c5;
}
// .projects li::before{
//   content: "\200B";
//   font-size: 1px;
// }

h1{
  margin: 9rem 0 6rem;
  text-align: center;
  font-size: 2em;
  @media #{$two_col} {
    font-size: 2.5em;
    margin-bottom: 7rem;
  }
  @media #{$upsize_text} {
    font-size: 3em;
    margin-bottom: 8rem;
  }
  @media #{$big} {
    font-size: 4em;
    margin-bottom: 10rem;
  }
  // @extend %user_select;
  // @media #{$mobile2} {
  //   font-size: 2em;
  // }
}
h2{
  text-align: center;
  font-size: 1.75em;
  margin-bottom: 3rem;
  @media #{$two_col} {
    font-size: 2.25em;
    margin-bottom: 4rem;
  }
  @media #{$upsize_text} {
    font-size: 2.75em;
    margin-bottom: 5rem;
  }
  @media #{$big} {
    font-size: 3.75em;
    margin-bottom: 7rem;
  }
}
.projects > div:last-child{
  @media #{$two_col} {
    grid-column: 1 / -1;
  }
}
section{
  margin-bottom: 8rem;
}

.contact{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  height: 400px;
  @media #{$two_col} {
    flex-direction: row;
    width: 70%;
    height: 150px;
  }
  @media #{$upsize_text} {
    width: 724px;
  }
}

.contact > div{
  // margin: 0 auto;
  // max-width: 100px;
  // max-height: 100px;
  // background-color: green;
  border: 2px solid transparent;
}














// l
