@import 'variables';
@import 'mixins';
.projects{
    @include flex(row, space-around, center, wrap);
    width: 90%;
    @media screen and (min-width: 2540px){
        max-width: 2300px;
    }
    & > div{
        @include wh(288px, 435px);
        margin: 1.7em;
        background-color: transparent;
        @media screen and (min-width: 1823px){
            margin: 3em;
        }
    }
    & > div:focus-within{
        outline: none;
        border-image: 10 / 0 0 10px 0 / 0;
        border-image-source: linear-gradient($blue, $blue); // fallback
        border-image-source: paint(borderPaint);
        border-bottom-style: solid;
        border-left-width: 0;
        border-top-width: 0;
        border-right-width: 0;
    }
}