@import 'variables';
@import 'mixins';
.projects{
    width: 90%;
    // @media #{$col_gap_expand}{
    //     grid-column-gap: 50px;
    //     grid-template-columns: repeat(4, 1fr);
    // }
    // @media #{$six_cols}{
    //     grid-template-columns: repeat(6, 1fr);
    // }
    @media screen and (min-width: 2540px){
        max-width: 2300px;
    }
    & > div{
        @include wh(288px, 435px);
        margin: 1.7em;
        background-color: transparent;
        @media screen and (min-width: 1823px){
            margin: 3em;
        }
    }
    & > div:focus-within{
        outline: none;
        border-image: 10 / 0 0 10px 0 / 0;
        border-image-source: linear-gradient($blue, $blue); // fallback
        border-image-source: paint(borderPaint);
        border-bottom-style: solid;
        border-left-width: 0;
        border-top-width: 0;
        border-right-width: 0;
    }
    // & > div:nth-last-child(2){
    //     @media #{$upsize_text}{
    //         grid-column: 2 / 3;
    //     }
    //     @media #{$six_cols}{
    //         grid-column: 3 / 4;
    //     }
    // }
    // & > div:last-child{
    //     @media #{$two_col}{
    //         grid-column: 1 / 3;
    //     }
    //     @media #{$three_col}{
    //         grid-column: auto;
    //     }
    //     @media #{$col_gap_expand}{
    //         grid-column: 1 / 5;
    //     }
    // }
}